#map {
    height: 300px;
    width: 800px;
}

.form-inline {
	margin-bottom: 20px;
}

#map {
	margin-bottom: 20px;
}

.myShowImage {
	margin-bottom: 20px;
}

#modalRow1 {
	margin-bottom: 10px;
}

#largerPOIimage {
	height: 400px;
}

#wuLogo {
	width: 150px;
}