body {
	background: url("../images/arches_2X.png");
	font-family: 'Caveat Brush', cursive !important;
	font-size: 48px;
}

table {
	font-size: 20px;
}

input, select, button {
	font-size: 20px !important;
}

#myModalLabel {
	font-size: 30px !important;
}

#map {
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.myShowImage {
	margin-bottom: 20px;
}

#modalRow1 {
	margin-bottom: 10px;
}

#largerPOIimage {
	height: 400px;
}

#wuLogo {
	width: 150px;
}

#logoImage {
	width: 100%;
}

#logoImageDiv {
	margin-top: 50px;
	margin-bottom: 10px;
}

#image1, #image2, #image3, #image4, #image5, #image6 {
	margin-top: 10px;
}

#userEntryRow {
	margin-bottom: 30px;
}

#mapRow {
	margin-top: 40px;
	margin-bottom: 30px;
}

#reloadButton {
	margin-top: 20px;
}